In [1]:
# pour changer la largeur de la page htlm générée par Jupyter :
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

C:\Users\e2203451\AppData\local\Temp\ipykernel_16864\568132765.py:2: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython.display
  from IPython.core.display import display, HTML

# TP : Exploration et Analyse de Données avec Pandas et Streamlit

## Objectif

Ce projet vise à développer vos compétences en manipulation et analyse de données à l'aide de la bibliothèque Pandas en Python. Vous apprendrez à :

- Importer et explorer des données provenant de Kaggle.
- Effectuer des requêtes et manipulations de type SQL avec Pandas.
- Créer des visualisations interactives avec Streamlit.

Ce projet est noté. Tous les codes devront être écrits en Python dans des champs *jupyter* et devront respecter les conventions de nommage. L'énoncé **ne doit pas être modifié**.

La derniere séance du projet, vous déposerez le fichier jupyter (projetSAE.ipynb) sur la plateforme pédagogique.

##### Procédure à réaliser avant les séances de TD (nous utiliserons désormais jupyter lab)
- Lancer Anaconda Prompt sous Windows
- Saisissez dans Anaconda Prompt : 
conda create -n projet python pandas numpy matplotlib jupyterlab kagglehub seaborn streamlit plotly

=> à la demande "Proceed ([y]/n)?" saisissez y (ou juste pressez sur la touche "entrée")
=> "Executing transaction" prend du temps, c'est normal
Saisissez dans Anaconda Prompt : 
conda activate projet

##### Saisissez dans Anaconda Prompt : 
jupyter lab --notebook-dir="h:/"
Ouvrir projetSAE.ipynb dans Jupyter

In [2]:
%matplotlib inline
import os
import shutil
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns
import streamlit as st

### Partie 1 : importation et exploration des données

#### Travailler avec Git
1 - En utilisant le prompt conda : initialiser le projet 

2 - Ajouter le fichier Jupyter Notebook et faite votre premier commit 
 
3 -  Creer un projet sur github dépôt distant (sans README.md )

4 - Pousser le projet vers ce dépôt 

5 - Enlever les checkpoint de jupyter

#### Questions
1. Téléchargez le Dataset **Data Science Salaries 2023** sur Kaggle (https://www.kaggle.com/datasets/) via **kagglehub**.
2. Copier le fichier du cache au répertoire du projet, décompresser et visualiser le fichier CSV **ds_salaries.csv**
3. Importez le fichiers CSV avec Pandas.

##### Votre code

In [3]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("arnabchaki/data-science-salaries-2023")


print("Path to dataset files:", path)

Path to dataset files: C:\Users\e2203451\.cache\kagglehub\datasets\arnabchaki\data-science-salaries-2023\versions\1

##### Une bonne pratique 
- Copier les données téléchargées et les coller dans le répertoire du projet.
Pour cela, utilisez la bibliothéque os et shutil

In [5]:
# Répertoire cible dans votre projet
#project_dir = r"....."

# Créer le répertoire (si nécessaire)
os.makedirs(project_dir, exist_ok=True)

# Copier le fichier depuis le cache au répertoire du projet
#cache_file = r"..........ds_salaries.csv"
shutil.copy(cache_file, project_dir)

'C:\\Users\\r.bennetayeb\\Desktop\\these\\Enseignement\\SAE_projet\\Data\\ds_salaries.csv'

In [4]:
data = pd.read_csv("data/ds_salaries.csv")

In [5]:
# Lire le fichier depuis le répertoire du projet
data.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

### Partie 2 : Analyses exploratoires

#### Question 1 :
Nous Souhaitons :

1. Connaitre est ce qu'il y a des données manquantes dans notre dataset.
2. Voir la distribution des salaires en USD avec la bibliothèque seaborn sous fome d'histogramme
3. avoir la liste des pays concerné par l'étude 
4. connaitre les salaire moyen par rôle, par pays, par niveau d'expérience

#### Votre code

In [6]:
#données manquantes 
print(data.isna().sum())

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [7]:
# Distribution des salaires en USD
sns.histplot(data=data, x="salary_in_usd", kde=True, bins=30)

In [8]:
# liste des pays concerné par l'étude 
pays_uniques = data['company_location'].unique()
print("Liste des pays :", pays_uniques)

Liste des pays : ['ES' 'US' 'CA' 'DE' 'GB' 'NG' 'IN' 'HK' 'NL' 'CH' 'CF' 'FR' 'FI' 'UA'
 'IE' 'IL' 'GH' 'CO' 'SG' 'AU' 'SE' 'SI' 'MX' 'BR' 'PT' 'RU' 'TH' 'HR'
 'VN' 'EE' 'AM' 'BA' 'KE' 'GR' 'MK' 'LV' 'RO' 'PK' 'IT' 'MA' 'PL' 'AL'
 'AR' 'LT' 'AS' 'CR' 'IR' 'BS' 'HU' 'AT' 'SK' 'CZ' 'TR' 'PR' 'DK' 'BO'
 'PH' 'BE' 'ID' 'EG' 'AE' 'LU' 'MY' 'HN' 'JP' 'DZ' 'IQ' 'CN' 'NZ' 'CL'
 'MD' 'MT']

In [10]:
#Salaire moyen par rôle
print(data.groupby('job_title')['salary_in_usd'].mean().sort_values(ascending=False).head(10))

# Salaire moyen par pays
print(data.groupby('company_location')['salary_in_usd'].mean().sort_values(ascending=False).head(10))

# Salaires moyens par niveau d'expérience
print(data.groupby('experience_level')['salary_in_usd'].mean().sort_values(ascending=False))

job_title
Data Science Tech Lead                375000.000000
Cloud Data Architect                  250000.000000
Data Lead                             212500.000000
Data Analytics Lead                   211254.500000
Principal Data Scientist              198171.125000
Director of Data Science              195140.727273
Principal Data Engineer               192500.000000
Machine Learning Software Engineer    192420.000000
Data Science Manager                  191278.775862
Applied Scientist                     190264.482759
Name: salary_in_usd, dtype: float64
company_location
IL    271446.500000
PR    167500.000000
US    151822.009539
RU    140333.333333
CA    131917.689655
NZ    125000.000000
BA    120000.000000
IE    114943.428571
JP    114127.333333
SE    105000.000000
Name: salary_in_usd, dtype: float64
experience_level
EX    194930.929825
SE    153051.071542
MI    104525.939130
EN     78546.284375
Name: salary_in_usd, dtype: float64

#### Question 2 :
Nous Souhaitons :

1. Filtrer les salaires pour un pays donné (ex : US)
2. Connaitre les top 5 des entreprises qui paient le plus

3. Filtrage et agrégation:
    - Afficher tous les employés dont le salaire est supérieur à 100 000 USD, ainsi que leur rôle.
    - Pays avec la plus forte proportion de télétravail (remote_ratio = 100)
       
4. Requêtes conditionnelles: 
    - Salaire moyen des employés à distance (100%)
    - Comparer salaires moyens pour deux catégories
        
5. Ajouter une colonne pour les fourchettes de salaires
6. Corrélations : Relation entre télétravail et salaire: 
 -
7. Salaire moyen par taille d'entreprise 
8. faire un tableau croisé : Moyenne des salaires par niveau d'expérience et télétravail

In [11]:
# Filtrer les salaires pour un pays donné (ex : US)
data_us = data[data['company_location'] == 'US']
print(data_us.head())

   work_year experience_level employment_type          job_title  salary  \
1       2023               MI              CT        ML Engineer   30000
2       2023               MI              CT        ML Engineer   25500
5       2023               SE              FT  Applied Scientist  222200
6       2023               SE              FT  Applied Scientist  136000
9       2023               SE              FT     Data Scientist  147100

  salary_currency  salary_in_usd employee_residence  remote_ratio  \
1             USD          30000                 US           100
2             USD          25500                 US           100
5             USD         222200                 US             0
6             USD         136000                 US             0
9             USD         147100                 US             0

  company_location company_size
1               US            S
2               US            S
5               US            L
6               US            L
9               US            M

In [12]:
# Top 5 des entreprises qui paient le plus
top_5_pays_salaire = data.groupby('company_location')['salary_in_usd'].mean().sort_values(ascending=False).head(5)
print(top_5_pays_salaire)

company_location
IL    271446.500000
PR    167500.000000
US    151822.009539
RU    140333.333333
CA    131917.689655
Name: salary_in_usd, dtype: float64

In [13]:
# Filtrer les données
# Rôles avec un salaire moyen supérieur à 100,000
high_salary = data[data['salary_in_usd'] > 100000][['job_title', 'salary_in_usd']]
print(high_salary.head())

# Pays avec la plus forte proportion de télétravail (remote_ratio = 100)
remote_country = data.groupby('company_location')['remote_ratio'].mean().sort_values(ascending=False).head(5)
print(remote_country)

           job_title  salary_in_usd
3     Data Scientist         175000
4     Data Scientist         120000
5  Applied Scientist         222200
6  Applied Scientist         136000
7     Data Scientist         219000
company_location
AR    100.0
KE    100.0
MY    100.0
NG    100.0
EG    100.0
Name: remote_ratio, dtype: float64

In [15]:
# Requêtes conditionnelles
# Salaire moyen des employés à distance (100%)
avg_salary_remote = data[data['remote_ratio'] == 100]['salary_in_usd'].mean()
print(avg_salary_remote)

# Comparer salaires moyens pour deux catégories
mean_se = data[data['experience_level'] == 'SE']['salary_in_usd'].mean()
mean_mi = data[data['experience_level'] == 'MI']['salary_in_usd'].mean()
print(f"Moyenne Senior : {mean_se:.2f} vs Moyenne Mid-level : {mean_mi:.2f}")

136481.45283018867
Moyenne Senior : 153051.07 vs Moyenne Mid-level : 104525.94

In [16]:
# Ajouter une colonne pour les fourchettes de salaires
bins = [0, 50000, 100000, 150000, 200000, np.inf]
labels = ['<50k', '50k-100k', '100k-150k', '150k-200k', '200k+']

data['salary_range'] = pd.cut(data['salary_in_usd'], bins=bins, labels=labels)
print(data[['salary_in_usd', 'salary_range']].head())

   salary_in_usd salary_range
0          85847     50k-100k
1          30000         <50k
2          25500         <50k
3         175000    150k-200k
4         120000    100k-150k

In [17]:
# Analyse des corrélations
# Relation entre télétravail et salaire
correlation = data[['remote_ratio', 'salary_in_usd']].corr()
print("Matrice de corrélation :\n", correlation)

Matrice de corrélation :
                remote_ratio  salary_in_usd
remote_ratio       1.000000      -0.064171
salary_in_usd     -0.064171       1.000000

In [18]:
# Salaire moyen par taille d'entreprise
avg_salary_size = data.groupby('company_size')['salary_in_usd'].mean()
print("\nSalaire moyen par taille d'entreprise :\n", avg_salary_size)

Salaire moyen par taille d'entreprise :
 company_size
L    118300.982379
M    143130.548367
S     78226.682432
Name: salary_in_usd, dtype: float64

In [19]:
# Tableaux croisés
# Moyenne des salaires par niveau d'expérience et télétravail
pivot_table = data.pivot_table(
    index='experience_level', 
    columns='remote_ratio', 
    values='salary_in_usd', 
    aggfunc='mean'
)
print("Tableau croisé des salaires :")
print(pivot_table)

Tableau croisé des salaires :
remote_ratio                0              50             100
experience_level
EN                104581.765766   64006.230769   65040.486111
EX                182435.785714  139030.166667  214837.326923
MI                116723.103535   74214.405405   96803.480597
SE                154024.064706   98438.136364  154022.023381